/* HEADER & NAVBAR */
header {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 2px solid var(--crb-red);
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
}

/* Logo*/
.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
  color: var(--crb-white);
  font-weight: bold;
}

/* Image*/
.logo img {
  height: 40px;
  width: auto;
}


.logo-text {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  line-height: 1.1;
}

.logo-text span {
  color: var(--crb-red);
}



.login__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  z-index: -1;
}

/* Page Layout */
.contact-page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

.contact-header {
  text-align: center;
  margin-bottom: 2.5rem;
}

.contact-header h1 {
  font-size: 2rem;
  margin: 0.3rem 0;
}

.contact-header h1 span,
.tag {
  color: var(--crb-red);
  font-weight: bold;
}

.tag {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.contact-header p {
  color: var(--crb-gray);
}

/* Grid Layout */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}



/* Info Cards */
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: #141414;
  border-left: 3px solid var(--crb-red);
  border-radius: 4px;
}

.num {
  color: var(--crb-red);
  font-weight: bold;
}

.contact-item h3 {
  font-size: 0.85rem;
  margin-bottom: 0.2rem;
}

.contact-item p {
  color: var(--crb-gray);
  font-size: 0.85rem;
}

/* Form Styles */
.contact-form {
  background: #141414;
  border: 1px solid var(--crb-red);
  padding: 1.5rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form-row {
  display: flex;
  gap: 0.8rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.7rem;
  background: #0d0d0d;
  border: 1px solid #333;
  color: var(--crb-white);
  border-radius: 4px;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--crb-red);
}

.contact-form button {
  padding: 0.8rem;
  background: var(--crb-red);
  color: var(--crb-white);
  border: none;
  border-radius: 4px;
  font-weight: bold;

}

.contact-form button:hover {
  background: var(--crb-red-dark);
}

/* Footer */
.simple-footer {
  text-align: center;
  padding: 1.5rem;
  border-top: 1px solid #222;
  margin-top: 2rem;
  color: var(--crb-gray);
  font-size: 0.75rem;
}
